body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.checkbox-lg .custom-control-label::before, 
.checkbox-lg .custom-control-label::after {
  top: .8rem;
  width: 1.55rem;
  height: 1.55rem;
}

.checkbox-lg .custom-control-label {
  padding-top: 13px;
  padding-left: 6px;
}


.checkbox-xl .custom-control-label::before, 
.checkbox-xl .custom-control-label::after {
  top: 1.2rem;
  width: 1.85rem;
  height: 1.85rem;
}

.checkbox-xl .custom-control-label {
  padding-top: 23px;
  padding-left: 10px;
}


input[type=range] {
  -webkit-appearance: none;
  width: 300px;
  border-radius: 10px; 
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
} 


input[type=range]::-webkit-slider-runnable-track {
  height: 3px;
  border-radius: 10px; 
  box-shadow: 0 1px 1px #ccc8c8, inset 0 .125em .125em #ccc8c8; 
}


input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 37px;
  width: 15px;
  margin-top: -15px;
  background: #ccc8c8; 
  border-radius: 0%; 

}